html,
body {
  height: 100%;
}

body {
  background: linear-gradient(218deg, #662da8, #9f69dd, #b9a8ce, #32228a);
  background-size: 800% 800%;
  
  -webkit-animation: AnimationName 36s ease infinite;
  -moz-animation: AnimationName 36s ease infinite;
  animation: AnimationName 36s ease infinite;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#custom-alert {
  top: 10px;
  position: fixed;
}
@-webkit-keyframes AnimationName {
  0%{background-position:77% 0%}
  50%{background-position:24% 100%}
  100%{background-position:77% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:77% 0%}
  50%{background-position:24% 100%}
  100%{background-position:77% 0%}
}
@keyframes AnimationName { 
  0%{background-position:77% 0%}
  50%{background-position:24% 100%}
  100%{background-position:77% 0%}
}